@charset "ISO-8859-1";
body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            max-width: 400px;
            width: 400px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        h2 {
            text-align: center;
        }

        .form-group {
        	margin-right: 20px;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        select {
            appearance: none;
        }

        .icon {
            position: absolute;
            padding: 12px;
            pointer-events: none;
        }

        .icon-user::before {
            content: "\f007";
            font-family: FontAwesome;
        }

        .icon-envelope::before {
            content: "\f0e0";
            font-family: FontAwesome;
        }

        .icon-phone::before {
            content: "\f095";
            font-family: FontAwesome;
        }

        .icon-location::before {
            content: "\f041";
            font-family: FontAwesome;
        }

        .submit-btn {
            background-color: #007BFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }

        .submit-btn:hover {
            background-color: #0056b3;
        }

        .error-message {
            color: #ff0000;
        }